h1 > img{
  width: 2em;
  filter: invert(100%);
}
.log img{
  height: 2em;
}
a{
    text-decoration:none;
}
p{
  color: white;
}
h1, h2{
  width:100%;
  color: white;
}

.Titre{
  color: white;
  padding: 7em 1em 1em;
}
.log{
  color: white;
  text-align: right;
}
.headerTop > a{
    width: 50%;
}


.headerTop{
  background: black;
  flex-wrap: wrap;
  display: flex;
  margin: -1em;
  padding: 2em 2em;
}

.tourne, .find{
  background:   #c80c04 ;
  transform: rotate(-0.7deg);
}
.tourne{
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
  justify-content: space-around;
}

.tourne a{
   color: black;
}
.find{
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5em;
  margin: -1.7em 2em 1em;
  border-radius: 0% 0% 0% 0%;
}
.find > .rechercher{
  margin: 0em 3em 0em 0.5em;
}

header > nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: -2.8em;
}

header > nav > ul{
  list-style-type: none;
  font-weight: bold;
}

body{
  background: #2c2422;
}

nav{
  margin: 4em 3em 0em 0.5em;
}

.DetailleFilm{
  display: flex;
  flex-wrap: wrap;
  padding: 0em 1em 1em;
  color: white;
}
.DetailleFilm > img{
  height: 18em;
}
.DetailleFilm a{
  color: white;
}

.precisionFilm{
  padding: 0em 2em 0em;
  width: 60%;
}

.Film > a > img{
  width: 9em;
  height: 15em;
  border: thick double white;
}

.Film{
  list-style-type: none;
  border-radius: 0% 0% 5%;
  padding: 2em 2em 1em;
  margin: 1% 0.6vw;
  background: #1C1C1C;
  width: 11em;
  box-shadow: 6px 6px 6px black;

}
.Film > a{
    color: white;
    text-decoration:none;
}

.Film > a > section {
  font-style: italic;
}
.type {
  font-size: 0.7rem;;
}

.Film > a > h3 {
  font-style: bold;
}

.ListFilm{
  display: flex;
  flex-wrap: wrap;

}
