head{
    background-color: black;
}
title{
    color: white;
    text-align: center;
}
body{
    background-color: #2c2422;
}
ul{
  margin-left: auto;
  margin-right: auto;
  margin: 10% 30%;
}
li{
    list-style: none;
    padding: 0.5em;
    color: white;

}


.crea{
  color: white;
  text-align: center;
  text-decoration:none;
}
.erreur{
  text-align: center;
  color: red;
}
